<!doctype html>
<head>
<link rel="stylesheet" href="./static/main.css">
</head>
<body>
	<h3> Where R U RT? </h3>
	<form id="request_form" action="/RequestText" method="post">
		<label for="phone_number" class="ui-input-text">Phone number:</label>
		<input type="tel" id="phone_number" name="phone_number" pattern=[0-9]{10} required title="Phone number must be a 10 digit number with no symbols or spaces">
		<br>
		<label for="route_number">Route:</label>
		<input type="text" id="route_number" name="route_number" pattern=[0-9]{1,3} required title="Must be 1-3 digit number">
		<br>
		<label for="stop_id">Stop ID:</label>
		<input type="text" id="stop_id" name="stop_id" pattern=[0-9]{1,4} required title="Must be a 1-4 digit number">
		<br><br>
		Send a text at 
		<input type="text" id="hour" name=hour value="10" size=2 pattern=[1-9]|1[0-2] required title="Must be between 1 and 12">:
		<input type="text" id="minute" name=minute value="30" size=2 pattern=[0-9]|[1-6][0-9] required title="Must be between 0 and 60"> 
		<select id="ampm" name="ampm">
			<option value="am">AM</option>
			<option value="pm">PM</option>
		</select>
		if the next bus is at least 
		<input type="text" id="max_minutes" name="max_minutes" value="5" size=2> 
		minutes from my stop.
		<br><br>
		<input type="submit" value="Submit">
	</form>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="./static/main.js"></script>
</body>